---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout>
  {heroImage && <img src={heroImage} />}
  <article
    class="mx-auto my-12 prose prose-zinc dark:prose-invert lg:prose-lg xl:prose-xl 2xl:prose-2xl"
  >
    <header class="flex flex-col">
      <h1 transition:animate="slide">{title}</h1>
      <p class="not-prose text-lg -mt-5">{description}</p>
      <p>Published: <time datetime={pubDate.toISOString()}>{pubDate}</time></p>
      {
        updatedDate && (
          <p>
            Updated:{' '}
            <time datetime={updatedDate.toISOString()}>{updatedDate}</time>
          </p>
        )
      }
    </header>
    <slot />
  </article>
</BaseLayout>
